---
import Layout from '../layouts/Layout.astro';
const pageTitle = "SoloAntonio Blog's";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Solo Antonio</h1>
    <span class="badge">Digital Craftsman (Developer)</span>
    <h2>Acerca de Mi</h2>
    <p>
        ¡Hola! Soy un desarrollador de software apasionado por el aprendizaje constante y la exploración de nuevas tecnologías. 
        Mi día a día lo paso trabajando con Java, SQL, y el framework Spring, pero eso es solo el comienzo. 
        
        Mi curiosidad me lleva a buscar siempre más, a indagar en lo que hay detrás del código, y a descubrir nuevas formas de optimizar, crear y mejorar.
        En esta página, compartiré los conocimientos que voy adquiriendo, desde pequeños trucos hasta soluciones más complejas que voy encontrando en el camino. 
        Actualmente, estoy aventurándome en el fascinante mundo de Go, experimentando con Angular y TypeScript, y explorando las posibilidades del framework web Astro.  

    </p>
    <p>
        Me encanta el software libre, especialmente GNU/Linux, pero tampoco puedo resistirme al diseño y funcionalidad del hardware de Apple. Claro, cuando el trabajo lo requiere, también uso Windows.
        Aquí encontrarás una mezcla de ideas, soluciones y reflexiones que espero te sean útiles en tu propio viaje de aprendizaje. 
    </p>
    <h2 class="center">¡Bienvenido!</h2>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Spring" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="PostgreSQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Learning</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Go" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
    </div>    
    <h2>Mis Intereses</h2>
    <p>
        Una de mis pasiones fuera del mundo de la programación es el hiking y el trail running. 
        No hay nada como salir a la naturaleza para despejar la mente y recargar energías. Disfruto explorando senderos, rodeado de árboles y montañas, donde cada paso me conecta más con el entorno.
    </p>
    <p>    
        La sensación de la tierra bajo mis pies y el aire fresco en mis pulmones son el complemento perfecto a mis largas horas frente a la pantalla. Ya sea en una tranquila caminata por el bosque o corriendo a través de paisajes escénicos, cada aventura al aire libre me brinda la oportunidad de reflexionar y encontrar inspiración en lo simple y lo grandioso de la naturaleza.
        Así que, cuando no estoy escribiendo código o aprendiendo nuevas tecnologías, es muy probable que me encuentres explorando nuevos senderos y disfrutando de lo que el mundo natural tiene para ofrecer.
    </p>
</Layout>

